<!DOCTYPE html>
<html>
<head>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-3.0.0.min.js"></script>
	<script src="~/Scripts/popper.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
	<title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
</body>
</html>
